In [1]:
import pandas as pd
import json

In [2]:
df_movies = pd.read_csv('data/movies_dataset.csv')
df_movies

C:\Users\YURI\AppData\Local\Temp\ipykernel_9860\2897035885.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('data/movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
df_credits = pd.read_csv('data/credits.csv')
df_credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [4]:
#Cambiamos el tipo de dato de las ids de los dos archivos
df_movies['id'] = df_movies['id'].astype(str)
df_credits['id'] = df_credits['id'].astype(str)

In [5]:
#Unimos los dos datasets con la función merge
data = pd.merge(df_movies, df_credits, on='id')

In [6]:
#Borramos índices duplicados
data.drop_duplicates(subset="id", inplace=True)
print(len(data))

45432

Creamos una función para desanidar los valores de la columna "belongs_to_collection".

In [7]:
# Definimos una función para desanidar los valores
def desanidar(valor):
    try:
        valor = json.loads(valor.replace("'", '"'))
        return valor
    except:
        return {}

In [8]:

# Desanida la columna "belongs_to_collection"
data['belongs_to_collection'] = data['belongs_to_collection'].apply(desanidar)
data['belongs_to_collection']

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                       {}
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                       {}
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45533                                                   {}
45534                                                   {}
45535                                                   {}
45536                                                   {}
45537                                                   {}
Name: belongs_to_collection, Length: 45432, dtype: object

Creamos una función para desanidar los valores de la columna 'production_companies'.

In [9]:
# Define una función para desanidar los valores
def desanidar(valor):
    try:
        valor = json.loads(valor.replace("'", '"'))
        return valor
    except:
        return []

# Desanida la columna "production_companies"
data['production_companies'] = data['production_companies'].apply(desanidar)

# Crea columnas "company_name" e "id_company" y asigna los valores correspondientes
data['company_name'] = data['production_companies'].apply(lambda x: x[0]['name'] if len(x) > 0 else None)
data['id_company'] = data['production_companies'].apply(lambda x: x[0]['id'] if len(x) > 0 else None)

In [10]:
data[['production_companies', 'company_name','id_company']]

,production_companies,company_name,id_company
0,"[{'name': 'Pixar Animation Studios', 'id': 3}]",Pixar Animation Studios,3.0
1,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",TriStar Pictures,559.0
2,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Warner Bros.,6194.0
3,[{'name': 'Twentieth Century Fox Film Corporat...,Twentieth Century Fox Film Corporation,306.0
4,"[{'name': 'Sandollar Productions', 'id': 5842}...",Sandollar Productions,5842.0
...,...,...,...
45533,[],None,NaN
45534,"[{'name': 'Sine Olivia', 'id': 19653}]",Sine Olivia,19653.0
45535,"[{'name': 'American World Pictures', 'id': 6165}]",American World Pictures,6165.0
45536,"[{'name': 'Yermoliev', 'id': 88753}]",Yermoliev,88753.0
45537,[],None,NaN

Creamos una función para desanidar los valores de la columna 'production_countries'.

In [11]:
# Define una función para desanidar los valores
def desanidar(valor):
    try:
        valor = json.loads(valor.replace("'", '"'))
        return valor
    except:
        return []

# Desanida la columna "production_countries"
data['production_countries'] = data['production_countries'].apply(desanidar)

# Crea columnas "iso_3166_1" y "country_production" y asigna los valores correspondientes
data['iso_3166_1'] = data['production_countries'].apply(lambda x: x[0]['iso_3166_1'] if isinstance(x, list) and len(x) > 0 else None)
data['country_production'] = data['production_countries'].apply(lambda x: x[0]['name'] if isinstance(x, list) and len(x) > 0 else None)

Creamos una función para desanidar los valores de la columna "spoken_languages"

In [12]:
data['spoken_languages'] = data['spoken_languages'].apply(desanidar)

data['iso_spoken'] = data['spoken_languages'].apply(lambda x: [genre['iso_639_1'] for genre in x])
data['language_spoken'] = data['spoken_languages'].apply(lambda x: [genre['name'] for genre in x])

In [13]:
data[['iso_spoken', 'language_spoken']]

      iso_spoken      language_spoken
0           [en]            [English]
1       [en, fr]  [English, Français]
2           [en]            [English]
3           [en]            [English]
4           [en]            [English]
...          ...                  ...
45533       [fa]              [فارسی]
45534       [tl]                   []
45535       [en]            [English]
45536         []                   []
45537       [en]            [English]

[45432 rows x 2 columns]

Creamos una función para desanidar los valores de la columna "genres"

In [14]:
data['genres'] = data['genres'].apply(desanidar)

data['id_genre'] = data['genres'].apply(lambda x: [genre['id'] for genre in x])
data['name_genre'] = data['genres'].apply(lambda x: [genre['name'] for genre in x])

In [15]:
#Creamos un diccionario

genres_dict = {}
for item in data['genres']:
    for genre in item:
        genres_dict[genre['id']] = genre['name'].lower()

In [16]:
genres_dict

{16: 'animation',
 35: 'comedy',
 10751: 'family',
 12: 'adventure',
 14: 'fantasy',
 10749: 'romance',
 18: 'drama',
 28: 'action',
 80: 'crime',
 53: 'thriller',
 27: 'horror',
 36: 'history',
 878: 'science fiction',
 9648: 'mystery',
 10752: 'war',
 10769: 'foreign',
 10402: 'music',
 99: 'documentary',
 37: 'western',
 10770: 'tv movie'}

Creamos una función para desanidar los valores de la columna "cast".

In [17]:
# Desanidar la columna "cast"
def desanidar(valor):
    try:
        valor = eval(valor)
        return valor
    except:
        return []

data['cast'] = data['cast'].apply(desanidar)

# Crear las columnas adicionales
data['id_actor'] = data['cast'].apply(lambda x: [actor['id'] for actor in x])
data['name_actor'] = data['cast'].apply(lambda x: [actor['name'] for actor in x])

In [18]:
#Diccionario con la lista de nombres de actores
characters_dict = {}
for item in data['cast']:
    for item in item:
        characters_dict[item['id']] = item['name'].lower()

In [19]:
characters_dict

{31: 'tom hanks',
 12898: 'tim allen',
 7167: 'don rickles',
 12899: 'jim varney',
 12900: 'wallace shawn',
 7907: 'john ratzenberger',
 8873: 'annie potts',
 1116442: 'john morris',
 12901: 'erik von detten',
 12133: 'laurie metcalf',
 8655: 'r. lee ermey',
 12903: 'sarah freeman',
 37221: 'penn jillette',
 2157: 'robin williams',
 8537: 'jonathan hyde',
 205: 'kirsten dunst',
 145151: 'bradley pierce',
 5149: 'bonnie hunt',
 10739: 'bebe neuwirth',
 58563: 'david alan grier',
 1276: 'patricia clarkson',
 46530: 'adam hann-byrd',
 56523: 'laura bell bundy',
 51551: 'james handy',
 56522: 'gillian barber',
 1000304: 'brandon obray',
 188949: 'cyrus thiedeke',
 1076551: 'gary joseph thorup',
 1480246: 'leonard zola',
 25024: 'lloyd berry',
 27110: 'malcolm stewart',
 53715: 'annabel kershaw',
 1379424: 'darryl henriques',
 1235504: 'robyn driscoll',
 25389: 'peter bryant',
 1483449: 'sarah gilson',
 1483450: 'florica vlad',
 1483451: 'june lion',
 1483452: 'brenda lockmuller',
 6837: 'walter matthau',
 3151: 'jack lemmon',
 13567: 'ann-margret',
 16757: 'sophia loren',
 589: 'daryl hannah',
 16523: 'burgess meredith',
 7166: 'kevin pollak',
 8851: 'whitney houston',
 9780: 'angela bassett',
 18284: 'loretta devine',
 51359: 'lela rochon',
 66804: 'gregory hines',
 352: 'dennis haysbert',
 87118: 'michael beach',
 34: 'mykelti williamson',
 1276777: 'lamont johnson',
 10814: 'wesley snipes',
 67773: 'steve martin',
 3092: 'diane keaton',
 519: 'martin short',
 70696: 'kimberly williams-paisley',
 59222: 'george newbern',
 18793: 'kieran culkin',
 14592: 'bd wong',
 20906: 'peter michael goetz',
 54348: 'kate mcgregor-stewart',
 209: 'jane adams',
 26510: 'eugene levy',
 24358: 'lori alan',
 1158: 'al pacino',
 380: 'robert de niro',
 5576: 'val kilmer',
 10127: 'jon voight',
 3197: 'tom sizemore',
 6200: 'diane venora',
 15851: 'amy brenneman',
 15852: 'ashley judd',
 524: 'natalie portman',
 15854: 'ted levine',
 119232: 'tom noonan',
 31004: 'tone loc',
 5587: 'hank azaria',
 15853: 'wes studi',
 11160: 'danny trejo',
 9290: 'henry rollins',
 886: 'william fichtner',
 34839: 'kevin gage',
 4158: 'susan traylor',
 86602: 'jerry trimble',
 158452: 'ricky harris',
 12799: 'jeremy piven',
 3982: 'xander berkeley',
 181343: 'begonya plaza',
 81687: 'rick avery',
 91756: 'hazelle goodman',
 160970: 'ray buktenica',
 175600: 'max daniels',
 12879: 'vince deadrick jr.',
 9258: 'steven ford',
 167501: 'farrah forke',
 95145: 'patricia healy',
 58535: 'paul herman',
 161939: 'cindy katz',
 6580: 'brian libby',
 95796: 'dan martin',
 166543: 'mario roberts',
 43010: 'thomas rosales, jr.',
 37252: 'yvonne zima',
 1457709: 'mick gould',
 4971: 'bud cort',
 941147: 'viviane vives',
 17358: 'kim staunton',
 4790: 'martin ferrero',
 1090464: 'brad baldridge',
 1090465: 'andrew camuccio',
 1576419: 'kenny endoso',
 106714: 'kimberly flynn',
 116153: 'niki harris',
 237923: 'bill mcintosh',
 4047: 'rick marzan',
 57347: 'terry miller',
 1576553: "daniel o'haco",
 218094: 'kai soremekun',
 1491009: 'peter blackwell',
 1137847: 'trevor coppola',
 1504112: 'mary kircher',
 1504568: 'darin mangan',
 20625: 'robert miranda',
 1502517: 'manny perry',
 114625: 'iva franks singer',
 1576562: 'tim werner',
 1584544: 'philip ettington',
 3: 'harrison ford',
 15887: 'julia ormond',
 17141: 'greg kinnear',
 4301: 'angie dickinson',
 12957: 'nancy marchand',
 8937: 'john wood',
 16554: 'richard crenna',
 34485: 'lauren holly',
 13314: 'dana ivey',
 20234: 'fanny ardant',
 73827: 'patrick bruel',
 13242: 'paul giamatti',
 1163: 'miriam colón',
 138242: 'elizabeth franz',
 62531: 'valérie lemercier',
 59206: 'becky ann baker',
 163775: 'john c. vennema',
 452: 'margo martindale',
 52475: 'j. smith-cameron',
 1853632: 'christine luneau-lipton',
 1853633: 'michael dees',
 153226: 'denis holmes',
 1853634: 'jo-jo lowe',
 28029: 'ira wheeler',
 1853638: 'philippa cooper',
 97364: 'ayako kawahara',
 1317065: 'françois genty',
 6554: 'guillaume gallienne',
 37918: 'inés sastre',
 1217813: 'phina oruche',
 1853644: 'andrea behalikova',
 1115935: 'jennifer herrera',
 1853645: 'kristina kumlin',
 1853646: 'eva linderholm',
 76093: 'carmen chaplin',
 1853647: 'micheline van de velde',
 1853651: 'joanna rhodes',
 1853653: 'alan boone',
 1460738: 'patrick forster-delmas',
 1853654: 'kentaro matsuo',
 1632066: 'peter mckernan',
 1853655: 'ed connelly',
 4184: 'ronald l. schwary',
 1853657: 'alvin lum',
 1853658: 'siching song',
 1357100: 'phil nee',
 157428: 'randy becker',
 1211979: 'susan browning',
 1853660: 'anthony mondal',
 1853661: 'peter parks',
 1548251: 'woodrow asai',
 1221663: 'eric bruno borgman',
 1811338: 'michael cline',
 1853663: 'christopher del gaudio',
 1099770: 'philippe hartmann',
 1853664: 'jerry quinn',
 1853665: 'dori rosenthal',
 53283: 'jonathan taylor thomas',
 51214: 'brad renfro',
 38581: 'rachael leigh cook',
 8316: 'michael mcshane',
 87007: 'amy wright',
 57448: 'eric schweig',
 102313: 'tamara mello',
 15111: 'jean-claude van damme',
 6280: 'powers boothe',
 8656: 'dorian harewood',
 10361: 'raymond j. barry',
 12928: 'ross malinger',
 79088: 'whittni wright',
 517: 'pierce brosnan',
 48: 'sean bean',
 10695: 'izabella scorupco',
 10696: 'famke janssen',
 10671: 'joe don baker',
 5309: 'judi dench',
 3757: 'gottfried john',
 1923: 'robbie coltrane',
 10697: 'alan cumming',
 10698: 'tchéky karyo',
 9906: 'desmond llewelyn',
 10699: 'samantha bond',
 10648: 'michael kitchen',
 10700: 'serena gordon',
 10701: 'simon kunz',
 55911: 'billy j. mitchell',
 27425: 'constantine gregory',
 6613: 'minnie driver',
 29054: 'michelle arthur',
 41742: 'ravil isyanov',
 3392: 'michael douglas',
 516: 'annette bening',
 521: 'michael j. fox',
 8349: 'martin sheen',
 63279: 'anna deavere smith',
 112080: 'shawna waldron',
 20767: 'samantha mathis',
 19839: 'david paymer',
 3037: 'richard dreyfuss',
 42133: 'nina siemaszko',
 61980: 'wendie malick',
 78494: 'beau billingslea',
 42003: 'gail strickland',
 131642: 'joshua malina',
 43115: 'clement von franckenstein',
 4251: 'john mahoney',
 43978: 'john mahon',
 92808: 'gabriel jarret',
 7633: 'leslie nielsen',
 14639: 'mel brooks',
 1219: 'amy yasbeck',
 12688: 'peter macnicol',
 12812: 'lysette anthony',
 13640: 'harvey korman',
 6106: 'steven weber',
 29709: 'mark blankfield',
 53570: 'megan cavanagh',
 170185: 'gregg binkley',
 10774: 'anne bancroft',
 4724: 'kevin bacon',
 382: 'bob hoskins',
 2233: 'bridget fonda',
 12077: 'jim cummings',
 110001: 'phil collins',
 67386: 'juliette brewer',
 19545: 'jack angel',
 52699: 'danny mann',
 77157: 'robbie rist',
 176254: 'sandra dickinson',
 15831: 'frank welker',
 6199: 'miriam margolyes',
 1592266: 'lola bates-campbell',
 4173: 'anthony hopkins',
 11148: 'joan allen',
 228: 'ed harris',
 5249: 'e.g. marshall',
 11076: 'david hyde pierce',
 7004: 'paul sorvino',
 2453: 'mary steenburgen',
 22131: 'j.t. walsh',
 4512: 'james woods',
 70843: 'brian bedford',
 14721: 'kevin dunn',
 56687: 'fyvush finkel',
 49425: 'annabeth gish',
 6840: 'larry hagman',
 29803: 'madeline kahn',
 6486: 'dan hedaya',
 20751: 'bridgette wilson',
 19453: 'tom bower',
 3417: 'tony goldwyn',
 52995: 'edward herrmann',
 15183: 'tony lo bianco',
 3712: 'saul rubinek',
 50880: 'robert beltran',
 167561: 'john cunningham',
 4942: 'john diehl',
 11885: 'john c. mcginley',
 19654: 'michael chiklis',
 11397: 'ric young',
 230280: 'boris sichkin',
 8975: 'sam waterston',
 6407: 'marley shelton',
 16935: 'geena davis',
 8654: 'matthew modine',
 8924: 'frank langella',
 7868: 'maury chaykin',
 8979: 'patrick malahide',
 16936: 'stan shaw',
 16937: 'rex linn',
 13925: 'paul dillon',
 35769: 'christopher masterson',
 133771: 'jimmie f. skaggs',
 1166: 'harris yulin',
 127166: 'carl chase',
 1220350: 'peter geeves',
 1252814: 'angus wright',
 91662: 'ken bones',
 31294: 'mary peach',
 17202: 'thomas lockyer',
 1649736: 'roger booth',
 90625: 'george murcell',
 1117347: 'simon atherton',
 1495190: 'dickey beer',
 1466675: 'christopher halliday',
 1420324: 'chris johnston',
 16792: 'richard leaf',
 2480: 'tam white',
 2479: 'rupert vansittart',
 19704: 'nick bartlett',
 1715: 'david bailie',
 1221761: 'kwame kwei-armah',
 178622: 'ramon tikaram',
 64102: 'christopher adamson',
 4430: 'sharon stone',
 4517: 'joe pesci',
 7169: 'alan king',
 7165: 'pasquale cajano',
 8262: 'l.q. jones',
 166789: 'dick smothers',
 7164: 'frank vincent',
 7424: 'oscar goodman',
 18262: 'richard riehle',
 11483: 'catherine scorsese',
 7168: 'vinny vella',
 7425: 'nobu matsuhisa',
 7423: 'erika von tagen',
 7444: 'nick mazzola',
 107020: 'david rose',
 99906: 'john bloom',
 13605: 'joseph rigano',
 14332: 'philip suriano',
 105623: 'melissa prophet',
 1574239: 'bill allison',
 96901: 'joe la due',
 7531: 'joseph p. reidy',
 1738942: 'craig vincent',
 42824: 'carl ciarfalio',
 39599: 'gene ruffini',
 1204013: 'dominick grieco',
 17921: 'clem caserta',
 120303: 'daniel p. conte',
 583419: 'joey depinto',
 122124: 'jack orend',
 1219275: 'jed mills',
 553774: 'claudia haro',
 1892328: 'ffolliott le coque',
 1888770: 'john manca',
 233121: 'ronald maccone',
 1888773: 'joseph bono',
 4692: 'frank adonis',
 58474: 'anthony russell',
 1183497: 'stuart nisbet',
 1644894: 'alfred nittoli',
 204: 'kate winslet',
 7056: 'emma thompson',
 3291: 'hugh grant',
 207: 'tom wilkinson',
 4566: 'alan rickman',
 20769: 'imogen stubbs',
 16700: 'greg wise',
 41419: 'hugh laurie',
 11356: 'imelda staunton',
 23076: 'robert hardy',
 31923: 'oliver ford davies',
 10726: 'james fleet',
 17477: 'harriet walter',
 9138: 'gemma jones',
 937907: 'emilie françois',
 1220119: 'elizabeth spriggs',
 141551: 'richard lumsden',
 3129: 'tim roth',
 3131: 'antonio banderas',
 3130: 'jennifer beals',
 3125: 'madonna',
 3141: 'marisa tomei',
 62: 'bruce willis',
 138: 'quentin tarantino',
 3122: 'sammi davis',
 3123: 'amanda de cadenet',
 3124: 'valeria golino',
 3127: 'lili taylor',
 2545: 'lawrence bender',
 3126: 'ione skye',
 3128: 'alicia witt',
 2555: 'david proval',
 3132: 'lana mckissack',
 3134: 'tamlyn tomita',
 3138: 'kathy griffin',
 3137: 'paul calderon',
 3136: 'salma hayek',
 3133: 'patricia vonne',
 3135: 'danny verduzco',
 37336: 'kimberly blair',
 3140: 'marc lawrence',
 206: 'jim carrey',
 3547: 'ian mcneice',
 4001: 'simon callow',
 57096: 'maynard eziashi',
 4029: 'bob gunton',
 2598: 'sophie okonedo',
 88059: 'tommy davidson',
 31164: 'adewale akinnuoye-agbaje',
 1080060: 'danny d. daniels',
 1080061: 'sam motoana phillips',
 172354: 'damon standifer',
 158324: 'andrew steel',
 27752: 'bruce spence',
 171303: 'tom grunke',
 1080062: "arsenio 'sonny' trinidad",
 57755: 'woody harrelson',
 16866: 'jennifer lopez',
 9287: 'robert blake',
 2955: 'chris cooper',
 4887: 'joe grifasi',
 32287: 'scott sowers',
 33658: 'skipp sudduth',
 106791: 'aida turturro',
 47774: 'vincent pastore',
 15029: 'enrico colantoni',
 5502: 'bill nunn',
 203801: 'katie gill',
 15372: 'jeremy roberts',
 1811956: 'joe bacino',
 8891: 'john travolta',
 193: 'gene hackman',
 14343: 'rene russo',
 518: 'danny devito',
 1117: 'dennis farina',
 18792: 'delroy lindo',
 4691: 'james gandolfini',
 9629: 'jon gries',
 53600: 'renee props',
 30488: 'miguel sandoval',
 16429: 'jacob vargas',
 53601: 'bobby slayton',
 53602: 'linda hart',
 141582: 'jeffrey j. stephen',
 10205: 'sigourney weaver',
 18686: 'holly hunter',
 883: 'will patton',
 18687: 'william mcnamara',
 18688: 'harry connick jr.',
 5169: 'j.e. freeman',
 20212: 'dermot mulroney',
 60205: 'john rothman',
 154691: "shannon o'hurley",
 95838: 'bob greene',
 215904: 'tony haney',
 1074167: 'danny kovacs',
 167781: 'tahmus rounds',
 1074168: 'scott devenney',
 1074169: 'david michael silverman',
 16483: 'sylvester stallone',
 1231: 'julianne moore',
 58556: 'anatoli davydov',
 17348: 'muse watson',
 14328: 'steve kahan',
 47757: 'kelly rowan',
 31508: 'reed diamond',
 42146: 'kai wulff',
 58557: 'kerry skalsky',
 58558: 'james douglas haskins',
 58559: 'stephen liska',
 58560: 'john harms',
 58561: 'edward j. rosen',
 58562: 'christina orchid',
 1611202: 'choco orta',
 543847: 'germán legarreta',
 54789: 'sean patrick flanery',
 2714: 'lance henriksen',
 4785: 'jeff goldblum',
 36637: 'brandon smith',
 2963: 'nicolas cage',
 1951: 'elisabeth shue',
 6104: 'julian sands',
 6105: 'richard lewis',
 6107: 'kim adams',
 6108: 'emily procter',
 6109: 'stuart reynolds ',
 6110: 'graham beckel',
 6240: 'mariska hargitay',
 2138: 'shawnee smith',
 52418: 'david kriegel',
 2975: 'laurence fishburne',
 1350: 'irène jacob',
 11181: 'kenneth branagh',
 27631: 'nathaniel parker',
 232174: 'indra ové',
 17483: 'michael maloney',
 1227643: 'anna patrick',
 32357: 'nicholas farrell',
 3968: 'michael sheen',
 6886: 'christina ricci',
 12929: "rosie o'donnell",
 2155: 'thora birch',
 29369: 'melanie griffith',
 12930: 'gaby hoffmann',
 3416: 'demi moore',
 114471: 'ashleigh aston moore',
 12931: 'rita wilson',
 141521: 'walter sparrow',
 50398: 'devon sawa',
 9599: 'cloris leachman',
 21197: 'janeane garofalo',
 12139: 'lolita davidovich',
 18269: 'brendan fraser',
 30318: 'amanda root',
 8785: 'ciarán hinds',
 87415: 'susan fleetwood',
 10981: 'fiona shaw',
 14465: 'john woodvine',
 3930: 'phoebe nicholls',
 54447: 'samuel west',
 32990: 'sophie thompson',
 45455: 'judy cornwell',
 57461: 'simon russell beale',
 42645: 'felicity dean',
 27660: 'roger hammond',
 55645: 'victoria hamilton',
 13328: 'corin redgrave',
 1487246: 'emma roberts',
 25665: 'robert glenister',
 7025: 'richard mccabe',
 1229181: 'helen schlesinger',
 1246598: 'jane wood',
 1227492: 'david collings',
 217100: 'darlene johnson',
 1840472: 'cinnamon faye',
 1840473: 'isaac maxwell-hunt',
 1073272: 'roger llewellyn',
 1241523: 'sally george',
 1840474: 'lonnie james',
 2372: 'ron perlman',
 2413: 'dominique pinon',
 13842: 'judith vittet',
 13843: 'daniel emilfork',
 13687: 'jean-claude dreyfus',
 13845: 'geneviève brunet',
 13846: 'odile mallet',
 4394: 'mireille mossé',
 2410: 'serge merlin',
 2407: 'rufus',
 13689: 'ticky holgado',
 100861: 'cris huerta',
 1352: 'jean-louis trintignant',
 1653016: 'joseph lucien',
 103119: 'mapi galán',
 1653017: 'briac barthélémy',
 1653018: 'pierre-quentin faesch',
 131998: 'alexis pivot',
 77904: 'françois hadji-lazaro',
 28462: 'dominique bettenfeld',
 77905: 'lotfi yahya jedidi',
 240388: 'thierry gibault',
 13680: 'marc caro',
 992717: 'ham-chau luong',
 17618: 'frankie pain',
 1323011: 'enrique villanueva',
 97062: 'dominique chevalier',
 2409: 'lorella cravotta',
 580580: 'éric houzelot',
 1176105: 'philippe beautier',
 1336073: 'marc amyot',
 566292: 'jean-philippe labadie',
 1048762: 'raphaèle bouchard',
 1330767: 'elisabeth etienne',
 1529774: 'rachel boulenger',
 1242620: 'michel motu',
 9745: 'nane germon',
 643: 'gong li',
 146097: 'li bao-tian',
 150151: 'wang xiaoxiao',
 143358: 'li xuejian',
 150152: 'chun sung',
 150153: 'fu biao',
 1160: 'michelle pfeiffer',
 10477: 'george dzundza',
 24047: 'courtney b. vance',
 11902: 'robin bartlett',
 12642: 'john neville',
 168638: 'beatrice winde',
 81726: 'lorraine toussaint',
 28863: 'renoly santiago',
 975133: 'wade dominguez',
 188642: 'bruklin harris',
 1074671: 'mercello thedford',
 156637: 'roberto alvarez',
 190913: 'richard grant',
 1074672: 'marisela gonzales',
 1074673: 'toni nichelle buzhardt',
 289: 'madeleine stowe',
 287: 'brad pitt',
 290: 'christopher plummer',
 52: 'david morse',
 288: 'jon seda',
 291: 'frank gorshin',
 975569: 'joseph melito',
 1273540: 'aaron michael lacey',
 22227: 'christopher meloni',
 1318900: 'joey perillo',
 534231: 'lisagay hamilton',
 11154: 'matt ross',
 66094: 'annie golden',
 1077231: 'michael chance',
 1571784: 'vernon campbell',
 1571785: 'h. michael walls',
 1328063: 'bob adrian',
 37891: 'simon jones',
 1077235: 'carol florence',
 7576: 'bill raymond',
 59112: 'ernest abuba',
 155573: 'irma st. paule',
 1571787: 'rozwill young',
 1571788: 'nell johnson',
 292: 'frederick strother',
 127069: 'charles techman',
 163795: 'rick warner',
 1387844: "anthony 'chip' brienza",
 1217615: 'bruce kirkpatrick',
 1571786: 'wilfred williams',
 1607131: 'joilet harris',
 32800: 'drucie mcdaniel',
 1607135: 'john blaisse',
 1607137: 'louis lippa',
 1607142: 'stan kang',
 1607143: 'pat dias',
 1542805: 'felix pire',
 1607146: 'karl warren',
 141458: 'joseph mckenna',
 81692: 'stephen bridgewater',
 1607153: 'ray huffman',
 1218075: 'charley scalies',
 1607159: "robert o'neill",
 1607160: 'paul meshejian',
 171294: 'kevin thigpen',
 1039871: "harry o'toole",
 1611167: 'jann ellis',
 131007: 'michael ryan segal',
 1607168: 'korchenko',
 933507: 'chuck jeffreys',
 1611166: 'barry price',
 60569: 'john panzarella',
 1611170: 'janet zappala',
 568367: 'lisa talerico',
 1607174: 'tiffany baldwin',
 7528: 'c.j. byrnes',
 1298410: 'tom detrik',
 1611142: 'joe gerety',
 1611143: 'renee spei',
 1611164: 'bonnie loev',
 1106629: 'raymond mamrak',
 127620: 'sal mazzotta',
 2696: 'allelon ruggiero',
 1611197: 'thang',
 4138: 'craig sheffer',
 4513: 'elizabeth mcgovern',
 3999: 'tom hulce',
 58406: 'ken pogue',
 554094: 'ron sauvé',
 156330: 'freddy andreiuci',
 58136: 'christine cavanaugh',
 1331: 'hugo weaving',
 35109: 'miriam flynn',
 2505: 'james cromwell',
 6035: 'russi taylor',
 1080206: 'evelyn krape',
 1080207: 'michael edward-stevens',
 1229258: 'charles bartlett',
 61351: 'paul livingston',
 24368: 'roscoe lee browne',
 45586: 'magda szubanski',
 1080208: 'zoe burton',
 9380: 'paul goddard',
 1080209: 'wade hayward',
 210276: 'brittany byrnes',
 75934: 'mary acres',
 378: 'jonathan pryce',
 27764: 'steven waddington',
 17328: 'rufus sewell',
 1249: 'penelope wilton',
 47627: 'janet mcteer',
 18325: 'jeremy northam',
 83701: 'alex kingston',
 186389: 'richard clifford',
 27822: 'david ryall',
 47943: 'stephen boxer',
 4038: 'susan sarandon',
 2228: 'sean penn',
 10360: 'robert prosky',
 1989: 'celia weston',
 2207: 'lois smith',
 6914: 'scott wilson',
 10362: 'roberta maxwell',
 70851: 'jack black',
 10366: 'ray aranha',
 133: 'peter sarsgaard',
 79732: 'barton heyman',
 1183429: 'steve boles',
 21152: 'nesbitt blaisdell',
 19511: 'larry pine',
 25711: 'kevin cooney',
 6574: 'clancy brown',
 1232566: 'michael cullen',
 51384: 'missy yager',
 1237883: 'jenny krochmal',
 17866: 'jon abrahams',
 1223451: 'arthur bridgers',
 95940: 'steve carlisle',
 56757: 'eva amurri martino',
 1366946: 'jack henry robbins',
 93679: 'dennis neal',
 62570: 'molly bryant',
 1591178: 'adele robbins',
 1371000: 'pete burris',
 1407052: 'joan glover',
 20765: 'lenore banks',
 75611: 'cortez nance jr.',
 4732: 'adam nelson',
 108147: 'jeremy knaster',
 16460: 'marcus lyle brown',
 1411679: 'anthony michael frederick',
 1191341: 'thomas mcgowan',
 1463362: 'codie scott',
 10298: 'helen prejean',
 1467084: 'peter reznick',
 1467085: 'john mcdonough',
 1467086: 'avi hoffman',
 19208: 'matt malloy',
 1218074: 'abby lewis',
 1796: 'kirstie alley',
 26472: 'steve guttenberg',
 67848: 'ashley olsen',
 67849: 'mary-kate olsen',
 92255: 'jane sibbett',
 6541: 'philip bosco',
 1331570: 'michelle grisom',
 1329538: 'desmond robertson',
 1331571: 'tiny mills',
 1331572: 'shanelle henry',
 1331573: 'michèle lonsdale smith',
 1331574: 'sean orr',
 1331575: 'elizabeth walsh',
 5588: 'alicia silverstone',
 58150: 'stacey dash',
 328: 'brittany murphy',
 22226: 'paul rudd',
 49002: 'donald faison',
 58151: 'elisa donovan',
 33654: 'breckin meyer',
 23958: 'jeremy sisto',
 66160: 'twink caplan',
 30881: 'justin walker',
 40680: 'julie brown',
 17775: 'nicole bilderback',
 15152: 'james earl jones',
 17764: 'charles s. dutton',
 123831: 'jack robinson',
 123833: 'tsholofelo wechoemang',
 123834: 'ramalao makhene',
 194: 'richard harris',
 89307: 'dolly rathebe',
 111179: 'jennifer steyn',
 1035098: 'ian roberts',
 1073473: 'david clatworthy',
 1327: 'ian mckellen',
 388: 'jim broadbent',
 5470: 'kristin scott thomas',
 42566: 'adrian dunbar',
 10978: 'maggie smith',

Creamos una función para desanidar los valores de la columna "crew".

In [20]:
data["crew"]

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
45533    [{'credit_id': '5894a97d925141426c00818c', 'de...
45534    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
45535    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
45536    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
45537    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 45432, dtype: object

In [21]:
# Se crea el diccionario de directores
directores_dict = {}

In [22]:
# Convertir a lista de diccionarios el data crew
data['crew'] = data['crew'].apply(lambda x: eval(x) if pd.notnull(x) else [])

In [23]:
id_directores = []

# Crear las columnas adicionales y desanidar la columna "crew"
for lista in data['crew']:
    directores = []
    for item in lista:
        if item['job'] == 'Director':
            directores_dict[item['id']] = item['name'].strip().lower() # Se agrega el nombre y el id a un diccionario de directores
            directores.append(item['id'])

    # Se añade la lista de directores
    id_directores.append(directores)

data['id_directores'] = id_directores

In [24]:
# Mostrar el resultado
print(data['id_directores'])

0           [7879]
1           [4945]
2          [26502]
3           [2178]
4          [56106]
           ...
45533    [1182809]
45534    [1051381]
45535      [67753]
45536    [1085341]
45537    [1344495]
Name: id_directores, Length: 45432, dtype: object

In [25]:
len(directores_dict)

19895

In [26]:
directores_dict

{7879: 'john lasseter',
 4945: 'joe johnston',
 26502: 'howard deutch',
 2178: 'forest whitaker',
 56106: 'charles shyer',
 638: 'michael mann',
 2226: 'sydney pollack',
 18357: 'peter hewitt',
 37710: 'peter hyams',
 10702: 'martin campbell',
 3026: 'rob reiner',
 14639: 'mel brooks',
 21879: 'simon wells',
 1152: 'oliver stone',
 16938: 'renny harlin',
 1032: 'martin scorsese',
 1614: 'ang lee',
 3110: 'allison anders',
 3111: 'alexandre rockwell',
 2294: 'robert rodriguez',
 138: 'quentin tarantino',
 4489: 'steve oedekerk',
 52629: 'joseph ruben',
 5174: 'barry sonnenfeld',
 15148: 'jon amiel',
 7187: 'richard donner',
 56349: 'victor salva',
 6111: 'mike figgis',
 56710: 'oliver parker',
 15798: 'lesli linka glatter',
 7017: 'roger michell',
 2419: 'jean-pierre jeunet',
 13680: 'marc caro',
 607: 'zhang yimou',
 60295: 'john n. smith',
 280: 'terry gilliam',
 2352: 'jean-jacques annaud',
 58137: 'chris noonan',
 12952: 'christopher hampton',
 504: 'tim robbins',
 77867: 'stephen low',
 17167: 'andy tennant',
 57434: 'amy heckerling',
 16730: 'darrell james roodt',
 33315: 'richard loncraine',
 11447: 'albert hughes',
 11448: 'allen hughes',
 52405: 'michael hoffman',
 4014: 'paul w.s. anderson',
 5216: 'gus van sant',
 3047: 'jocelyn moorhouse',
 7467: 'david fincher',
 65530: 'mike gabriel',
 65531: 'eric goldberg',
 55439: 'patricia rozema',
 9032: 'bryan singer',
 100505: 'richard w. munchkin',
 1243: 'woody allen',
 128107: 'gianni amelio',
 71338: 'holly goldberg sloan',
 140354: 'ulu grosbard',
 30586: 'robert tinnell',
 1038: 'jodie foster',
 28898: 'michael radford',
 38527: 'robert lepage',
 7908: 'frank oz',
 19304: 'john schlesinger',
 18356: 'stephen herek',
 45649: 'paris barclay',
 49361: 'bill bennett',
 57870: 'jason bloom',
 69721: 'farhad mann',
 15890: 'james foley',
 35137: 'josiane balasko',
 37932: 'f. gary gray',
 70850: 'andrew sipes',
 5656: 'noah baumbach',
 16862: 'claude lelouch',
 10296: 'michael goldenberg',
 58712: 'steve miner',
 25735: 'christian duguay',
 1080309: 'susanne ofteringer',
 2228: 'sean penn',
 18069: 'brian gibson',
 120229: 'jafar panahi',
 5501: 'gary fleder',
 13496: 'marleen gorris',
 27771: 'tim reid',
 117075: 'henry jaglom',
 55038: 'philip haas',
 578: 'ridley scott',
 29009: 'ken kwapis',
 58448: 'penelope spheeris',
 12840: 'john badham',
 72624: 'john duigan',
 3224: 'stephen frears',
 5140: 'wes craven',
 34849: 'ted demme',
 11401: 'john woo',
 11181: 'kenneth branagh',
 2406: 'mathieu kassovitz',
 92561: 'nick broomfield',
 23213: 'harold becker',
 5655: 'wes anderson',
 14692: 'nick castle',
 21053: 'john dahl',
 17494: 'dennis dugan',
 190: 'clint eastwood',
 18969: 'doris dörrie',
 65298: 'brian henson',
 64077: 'robert leacock',
 1234226: 'james bruce',
 2461: 'mel gibson',
 44916: 'stanley tong',
 23393: 'barbet schroeder',
 184475: 'mort ransen',
 20849: 'étienne chatiliez',
 82293: 'jon blair',
 81020: 'benjamin ross',
 68185: 'eric schaeffer',
 12989: 'andrew davis',
 36147: 'charles t. kanganis',
 68215: 'reginald hudlin',
 12453: 'wong kar-wai',
 65314: 'giuseppe tornatore',
 17883: 'david o. russell',
 16589: 'peter macdonald',
 239321: 'moufida tlatli',
 93632: 'michel negroponte',
 122583: 'bryan gordon',
 41670: 'rebecca miller',
 125543: 'michael lindsay-hogg',
 15175: 'william friedkin',
 114997: 'ángel muñiz',
 84445: 'craig baldwin',
 12920: 'david s. ward',
 1077999: 'mark rappaport',
 45382: 'dirk shafer',
 93911: 'terence davies',
 1080311: 'sandip ray',
 18250: 'jon avnet',
 5342: 'mike nichols',
 1285121: 'jakov sedlar',
 12833: 'edward burns',
 865: 'michael bay',
 56828: 'christopher cain',
 65390: 'scott kalvert',
 10723: 'mike newell',
 91343: 'hal hartley',
 6159: 'ron howard',
 30365: 'michael caton-jones',
 39104: 'abel ferrara',
 5572: 'joel schumacher',
 793: 'luis buñuel',
 19665: 'john boorman',
 46391: 'paul auster',
 39819: 'wayne wang',
 17087: 'michael moore',
 11887: 'brad silberling',
 5281: 'spike lee',
 664: 'frank marshall',
 893: 'tony scott',
 17447: 'terry zwigoff',
 21712: 'carl franklin',
 1090: 'john mctiernan',
 19224: 'gregg araki',
 68774: 'christopher menaul',
 3415: 'jerry zucker',
 56998: 'dwight h. little',
 1978: 'iain softley',
 252806: 'christopher ashley',
 59997: 'robert longo',
 33279: 'danny cannon',
 58316: 'john fortenberry',
 51917: 'larry clark',
 6400: 'tom dicillo',
 31211: 'clive barker',
 38516: 'denys arcand',
 42617: 'antonia bird',
 19303: 'kevin smith',
 42111: 'bryan spicer',
 44847: 'david anspaugh',
 58384: 'anthony waller',
 54469: 'michael almereyda',
 11472: 'irwin winkler',
 10965: 'chris columbus',
 56714: 'daisy von scherler mayer',
 28902: 'gregory widen',
 26487: 'norman rené',
 16863: 'todd haynes',
 8965: 'roland joffé',
 10491: 'paul verhoeven',
 5306: 'lasse hallström',
 21370: 'roger donaldson',
 408: 'james keach',
 14392: 'kathryn bigelow',
 24882: 'jacques demy',
 17880: 'wesley strick',
 63713: 'martha coolidge',
 1128: 'agnieszka holland',
 20237: 'beeban kidron',
 32277: 'geoff murphy',
 3092: 'diane keaton',
 588623: 'douglas keeve',
 22767: 'alfonso aráu',
 8300: 'kevin reynolds',
 73494: 'desmond nakano',
 1723: 'walter hill',
 17309: 'greg beeman',
 82796: 'nikita mikhalkov',
 1364800: 'milčo mančevski',
 564: 'richard linklater',
 57691: 'tamra davis',
 43468: 'guy ferland',
 18378: 'herbert ross',
 44990: 'peter horton',
 27991: 'stuart gordon',
 19969: "pat o'connor",
 25210: 'jeremy leven',
 8246: 'barry levinson',
 225065: 'rené bonnière',
 58154: 'jack baran',
 3556: 'roman polanski',
 18596: 'taylor hackford',
 7396: 'peter farrelly',
 7395: 'bobby farrelly',
 56205: 'atom egoyan',
 1201: 'garry marshall',
 510: 'tim burton',
 8844: 'lawrence kasdan',
 7904: 'billy crystal',
 148119: 'phillip borsos',
 15775: 'kevin lima',
 56147: 'paul brizzi',
 57090: 'brett leonard',
 87695: 'carlo carlei',
 67794: 'gérard corbiau',
 1566166: 'mark lewis',
 129534: 'art clokey',
 97755: 'charles burnett',
 122449: 'steve james',
 108: 'peter jackson',
 77121: 'randall miller',
 57851: 'bernard rose',
 32593: 'steven brill',
 1203: 'j. f. lawton',
 64061: 'fred schepisi',
 17016: 'neil jordan',
 54441: 'james ivory',
 73668: 'james melkonian',
 8858: 'ivan reitman',
 56872: 'arne glimcher',
 62043: 'michael gottlieb',
 1: 'george lucas',
 58094: 'gillian armstrong',
 11218: 'alfonso cuarón',
 15488: 'ken loach',
 19069: 'claude chabrol',
 9181: 'edward zwick',
 20561: 'james gray',
 58463: 'glenn gordon caron',
 15912: 'stephen gyllenhaal',
 55476: 'nicholas hytner',
 27444: 'james orr',
 9248: 'nora ephron',
 24318: 'richard benjamin',
 56911: 'les mayfield',
 5065: 'david frankel',
 16395: 'gregory nava',
 54971: 'marc rocco',
 6729: 'robert benton',
 10781: 'michael apted',
 17278: 'nick gomez',
 129957: 'tōru murakawa',
 70905: 'vadim jean',
 63937: 'albert pyun',
 131792: 'alan jacobs',
 13563: 'norman jewison',
 7256: 'lee tamahori',
 2873: 'anne goursaud',
 5231: 'wolfgang petersen',
 59: 'luc besson',
 6495: 'mira nair',
 23757: 'joshua brand',
 16214: 'mario van peebles',
 4135: 'robert redford',
 994323: 'kayo hatta',
 23724: 'patrice chéreau',
 7623: 'sam raimi',
 12804: 'peter yates',
 9789: 'robert altman',
 1126: 'krzysztof kieślowski',
 77305: 'he ping',
 45642: 'fred gerber',
 133793: 'george mihalka',
 1524: 'harold ramis',
 107274: 'richard rich',
 102445: 'john sayles',
 26648: 'luis llosa',
 6046: 'roland emmerich',
 58072: 'john pasquin',
 4027: 'frank darabont',
 2034: 'danny boyle',
 101444: 'scott mcgehee',
 101446: 'david siegel',
 72646: 'tomás gutiérrez alea',
 72647: 'juan carlos tabío',
 57028: 'george huang',
 91499: 'kevin dowling',
 72629: 'geoff burton',
 64030: 'kelly makin',
 56891: 'rachel talalay',
 15521: 'ernest r. dickerson',
 2380: 'david carson',
 141825: 'rusty cundieff',
 58080: 'brian gilbert',
 11770: 'john carpenter',
 13426: 'peter segal',
 15389: 'louis malle',
 1884: 'steven soderbergh',
 76705: 'preston a. whitmore ii',
 12962: 'jon turteltaub',
 1230367: 'mina shum',
 3045: 'p.j. hogan',
 83313: 'melanie mayron',
 4499: 'tom shadyac',
 27889: 'stephan elliott',
 13015: 'phillip noyce',
 16853: 'jessie nelson',
 21085: 'alex proyas',
 4037: 'ron shelton',
 13581: 'brian levant',
 24: 'robert zemeckis',
 6482: 'john singleton',
 81727: 'darnell martin',
 41550: 'andrew bergman',
 7775: 'stephen sommers',
 226963: 'ray müller',
 15812: 'roger allers',
 18898: 'rob minkoff',
 4956: 'bernardo bertolucci',
 26713: 'chuck russell',
 72427: 'alan rudolph',
 7399: 'ben stiller',
 18281: 'donald petrie',
 83588: 'robert allan ackerman',
 323: 'curtis hanson',
 2209: 'jan de bont',
 33485: 'ron underwood',
 2710: 'james cameron',
 46085: 'luis mandoki',
 42301: 'damian harris',
 158634: 'suri krishnamma',
 72125: 'jefery levy',
 35689: 'keenen ivory wayans',
 133183: 'robert lee king',
 1066114: 'brian sloan',
 1087439: "raoul o'connell",
 234793: 'yves angelo',
 4590: 'russ meyer',
 67896: 'doug mchenry',
 80537: 'dave borthwick',
 1726: 'steven e. de souza',
 486: 'wallace wolodarsky',
 126837: 'michael a. nickles',
 1142481: 'paul warner',
 532207: 'vincent robert',
 129216: 'theodore thomas',
 1382436: 'lucas platt',
 1385254: 'ross kagan marks',
 220152: 'paul williams',
 4040: 'robert wuhl',
 16401: 'roberto sneider',
 223910: 'jack baxter',
 1410160: 'jefri aalmuhammed',
 53599: 'andrew morahan',
 77076: 'michael corrente',
 16513: 'john g. avildsen',
 88060: 'jeff pollack',
 15106: 'thomas schlamme',
 7145: 'michael lehmann',
 12988: 'paul michael glaser',
 42171: 'jonathan kaplan',
 78188: 'whit stillman',
 68687: 'bill forsyth',
 4610: 'john landis',
 1901: 'caroline thompson',
 2042: 'stephen hopkins',
 32765: 'tony richardson',
 14800: 'jennifer chambers lynch',
 380: 'robert de niro',
 57107: 'adam resnick',
 61175: 'john whitesell',
 1150: 'brian de palma',
 66548: 'paul weiland',
 8843: 'mick jackson',
 18308: 'steve barron',
 21806: 'richard rush',
 12964: 'michael ritchie',
 27236: 'gregg champion',
 58838: 'marco brambilla',
 86: 'bruce brown',
 1895: 'carl reiner',
 20640: 'chen kaige',
 2690: 'peter weir',
 50949: 'alek keshishian',
 10967: 'steve kloves',
 17784: 'john irvin',
 18254: 'simon wincer',
 52358: 'boaz yakin',
 172993: 'rose troche',
 5696: 'bruce beresford',
 39996: 'sidney lumet',
 12936: 'jim abrahams',
 94996: 'julianna lavin',
 65859: 'christopher monger',
 19684: 'bille august',
 77733: 'eric meza',
 1223: 'joel coen',
 3388: 'james l. brooks',
 774: 'daniel petrie, jr.',
 53334: 'jim sheridan',
 230059: 'matty rich',
 488: 'steven spielberg',
 58498: 'dominic sena',
 8297: 'roger avary',
 40549: 'daniel petrie',
 90037: 'james lapine',
 57147: 'paul hogan',
 71192: 'greg coote',
 224: 'david cronenberg',
 2523: 'stuart baird',
 46230: 'nagisa ōshima',
 119232: 'tom noonan',
 2239: 'anthony minghella',
 65452: 'mike leigh',
 16939: 'michael tolkin',
 57206: 'sally potter',
 16294: 'jonathan demme',
 10757: 'jane campion',
 29482: 'stuart orme',
 141450: 'mel smith',
 14911: 'penny marshall',
 648: 'philip kaufman',
 9168: 'alan parker',
 44056: 'fred dekker',
 21377: 'peter medak',
 65026: 'geoffrey wright',
 138322: 'victor nunez',
 15858: 'tim hunter',
 127283: 'cyril collard',
 2260: 'steven zaillian',
 8969: 'chris menges',
 10367: 'john waters',
 52968: 'russell mulcahy',
 4786: 'richard attenborough',
 33405: 'gillies mackinnon',
 54590: 'steve rash',
 63943: 'rowdy herrington',
 111687: 'arthur joffé',
 58164: 'annabel jankel',
 58165: 'rocky morton',
 45645: 'deran sarafian',
 78012: 'françois girard',
 41549: 'andrew fleming',
 57646: 'henry selick',
 16566: 'george p. cosmatos',
 53387: 'heywood gould',
 21113: 'd.a. pennebaker',
 115891: 'chris hegedus',
 74299: 'pixote hunt',
 1164376: 'maurice hunt',
 1212571: 'jerry ciccoritti',
 70241: 'jennifer warren',
 85547: 'mark malone',
 66605: 'todd solondz',
 20718: 'claude berri',
 2778: 'dennis hopper',
 10828: 'guillermo del toro',
 69696: 'daniel algrant',
 309: 'pedro almodóvar',
 6220: 'gurinder chadha',
 3030: 'andrew scheinman',
 91565: 'åke sandgren',
 1006705: 'eva sereny',
 26265: 'lina wertmüller',
 1354907: 'rémy duchemin',
 1174031: 'george t. miller',
 105114: 'ricky tognazzi',
 67756: 'michael austin',
 109402: 'rob epstein',
 109403: 'jeffrey friedman',
 69488: 'nanni moretti',
 1066960: 'maría luisa bemberg',
 31024: 'betty thomas',
 15810: 'ron clements',
 15811: 'john musker',
 1269: 'kevin costner',
 589306: 'steve cohen',
 5446: 'david hand',
 62047: 'gary trousdale',
 62048: 'kirk wise',
 11429: 'hamilton luske',
 11426: 'ben sharpsteen',
 125340: 'yuri mamin',
 7767: 'sam peckinpah',
 78258: 'c.m. talkington',
 134026: 'huang jianxin',
 1080040: 'jean bach',
 54967: 'sam weisman',
 15557: 'bill condon',
 116607: 'stephen poliakoff',
 4755: 'david r. ellis',
 70616: 'gerald potterton',
 176246: 'kevin yagher',
 55116: 'joe chappelle',
 32278: 'matt reeves',
 24657: 'franco zeffirelli',
 75474: 'anna campion',
 49552: 'franco brusati',
 57314: 'wolfgang reitherman',
 37526: 'fernando trueba',
 116103: 'bill couturié',
 6818: 'werner herzog',
 96627: 'andré téchiné',
 54767: 'mika kaurismäki',
 1044284: 'férid boughedir',
 78029: 'martin lawrence',
 72619: 'stacy title',
 17812: 'gregory hoblit',
 173004: 'clément virgo',
 69719: 'bruno barreto',
 71852: 'paul sabella',
 952327: 'larry leker',
 974388: 'hal salwen',
 70835: 'jonathan r. betuel',
 73496: 'richard pearce',
 230320: 'todd verow',
 21217: 'jonathan lynn',
 20773: 'tim sullivan',
 34682: 'jeremiah s. chechik',
 69537: 'hervé palud',
 43440: 'martin enlen',
 68998: 'carlo rola',
 20789: 'claude sautet',
 6759: 'friðrik þór friðriksson',
 2182: 'pen densham',
 1869: 'sönke wortmann',
 105617: 'park chul-soo',
 18878: 'rob cohen',
 14614: 'joseph vilsmaier',
 26595: 'michael verhoeven',
 80526: 'gray hofmeyr',
 559920: 'richard wherrett',
 9740: 'rené clément',
 4173: 'anthony hopkins',
 47773: 'paul mazursky',
 15254: 'emir kusturica',
 96934: 'bo widerberg',
 115983: 'alan mehrez',
 12160: 'satyajit ray',
 30021: 'jim mallon',
 23677: 'joe pytka',
 53767: 'roger vadim',
 98940: 'catherine cyran',
 98094: 'brett piper',
 37852: 'george hickenlooper',
 3776: 'jean-luc godard',
 20556: 'bertrand tavernier',
 3097: 'gordon willis',
 8876: 'randal kleiser',
 1080036: 'michael blakemore',
 39298: 'margarethe von trotta',
 104404: 'norberto barba',
 585248: 'eli cohen',
 43786: 'robert mandel',
 1046169: 'pat verducci',
 172: 'michael winterbottom',
 73838: 'steven baigelman',
 42113: 'zalman king',
 1661328: 'barry caillier',
 56059: 'patrick read johnson',
 81964: 'stijn coninx',
 11147: 'john cassavetes',
 129708: 'stacy cochran',
 15111: 'jean-claude van damme',
 59438: 'mark joffe',
 104507: 'steve gomer',
 71792: 'george scribner',
 1175207: 'tom decerchio',
 129941: 'alan shapiro',
 1016352: 'angela pope',
 1585647: 'betty kaplan',
 4429: 'jim jarmusch',
 25950: 'jean-paul rappeneau',
 31310: 'jack hill',
 108499: 'manuel gómez pereira',
 64909: 'jean-marie poiré',
 940684: 'brett thompson',
 1093108: 'francesco sframeli',
 1093110: 'spiro scimone',
 124237: 'stephen quay',
 124238: 'timothy quay',
 18500: 'phil joanou',
 19266: 'larry cohen',
 29706: 'harvey miller',
 87680: 'michele soavi',
 70792: 'david hogan',
 16988: 'maurice pialat',
 564791: 'gabriel barylli',
 12180: 'mamoru oshii',
 64796: 'tom holland',
 65548: 'rick friedberg',
 145304: 'udayan prasad',
 7314: 'nick park',
 81976: 'abraham polonsky',
 28239: 'david twohy',
 93906: 'robert z. leonard',
 240: 'stanley kubrick',
 97579: 'guy maddin',
 153908: "john o'brien",
 114468: 'kevin james dobson',
 14860: 'victor saville',
 1090082: 'helena solberg',
 1209349: 'ebrahim forouzesh',
 223825: 'freida lee mock',
 229695: 'david keating',
 366: 'james mangold',
 1776: 'francis ford coppola',
 16378: 'mary harron',
 122728: 'charles matthau',
 1009298: 'goran paskaljević',
 1184422: 'mwezé ngangura',
 24409: 'benoît lamy',
 1177451: 'jean-pierre bekolo',
 1079380: 'djibril diop mambéty',
 1153142: 'gaston kaboré',
 4415: 'federico fellini',
 990400: 'victoria foyt',
 21415: 'robby henson',
 1214396: 'scott winant',
 240366: 'carma hinton',
 30811: 'richard gordon',
 592762: 'lucian pintilie',
 544331: 'gazdag gyula',
 41521: 'gérard mordillat',
 262130: 'mel chionglo',
 1144694: 'christopher larkin',
 138795: 'laurent heynemann',
 18320: 'bronwen hughes',
 56539: 'nicole holofcener',
 28615: 'éric rohmer',
 66076: 'fraser clarke heston',
 40230: 'kevin hooks',
 1059880: 'ildikó enyedi',
 2357: 'howard franklin',
 30869: 'mitch marcus',
 1046588: 'jaime hellman',
 14132: 'nicolas roeg',
 15042: 'arlene sanford',
 225140: 'maurizio nichetti',
 87397: 'paul turner',
 56201: 'peter sehr',
 1870: 'gernot roll',
 48685: 'rolf silber',
 6258: 'peter weck',
 81749: 'manoel de oliveira',
 71110: 'john payson',
 28904: 'hugh wilson',
 179609: 'nigel finch',
 7678: 'hart bochner',
 183036: 'doug ellin',
 119310: 'annette haywood-carter',
 518: 'danny devito',
 32983: 'douglas mcgrath',
 65602: 'tim pope',
 92554: 'harry winer',
 37302: 'georges franju',
 10953: 'gilbert adler',
 1080308: 'john rubino',
 1189125: 'yin li',
 146295: 'yim ho',
 117808: 'marcus deleon',
 1232954: 'lee david zlotoff',
 107730: 'tran anh hung',
 7482: 'julian schnabel',
 112674: 'rolf de heer',
 587603: 'keisuke kinoshita',
 24485: 'nicole garcia',
 252740: 'leone pompucci',
 1112331: 'zheng jun-li',
 124092: 'lisa krueger',
 125690: 'mikio naruse',
 9340: 'lana wachowski',
 9339: 'lilly wachowski',
 133259: 'arthur hiller',
 1155073: 'john ruane',
 1276348: 'peter shaner',
 71174: 'tsai ming-liang',
 64219: 'daniel schmid',
 69042: 'tim metcalfe',
 232119: 'izidore k. musallam',
 205639: 'jim mckay',
 118513: 'karim dridi',
 13776: 'john frankenheimer',
 42175: 'richard stanley',
 69741: 'david m. evans',
 508: 'david koepp',
 17046: 'gary winick',
 6361: 'nick hamm',
 24346: 'roy allen smith',
 28889: 'theo van gogh',
 98750: 'trevor nunn',
 33054: 'keith gordon',
 14353: 'max ophüls',
 587971: 'jan jakub kolski',
 10790: 'sam wood',
 14674: 'george cukor',
 13284: 'stanley donen',
 13294: 'gene kelly',
 13980: 'vincente minnelli',
 1927: 'blake edwards',
 2636: 'alfred hitchcock',
 2662: 'frank capra',
 30165: 'mark sandrich',
 3146: 'billy wilder',
 4109: 'michael curtiz',
 6593: 'john huston',
 10001: 'william wyler',
 80570: 'walter lang',
 9049: 'victor fleming',
 40: 'orson welles',
 108914: 'mitchell leisen',
 10601: 'joseph l. mankiewicz',
 30008: 'leo mccarey',
 2428: 'ernst lubitsch',
 67426: 'william keighley',
 29595: 'rouben mamoulian',
 834: 'otto preminger',
 74659: 'gregory la cava',
 18738: 'george stevens',
 2746: 'elia kazan',
 32427: 'w.s. van dyke',
 11435: 'howard hawks',
 20412: 'michael anderson',
 8741: 'victor sjöström',
 14643: 'william a. wellman',
 31497: 'john cromwell',
 81165: 'archie mayo',
 95293: 'busby berkeley',
 33064: 'henry koster',
 50302: 'james edward grant',
 2000: 'lewis milestone',
 13348: 'howard hughes',
 14999: 'george a. romero',
 3632: 'richard brooks',
 148849: 'victor schertzinger',
 14855: 'frank borzage',
 78053: 'edwin l. marin',
 72467: "thaddeus o'sullivan",
 35452: 'corey yuen kwai',
 86051: 'joshua logan',
 1063201: 'chris newby',
 76462: 'richard schenkman',
 1468019: 'allan miller',
 68212: 'carroll ballard',
 549024: 'lance young',
 26767: 'ringo lam',
 21371: 'amy holden jones',
 4756: 'matthew broderick',
 2283: 'stanley tucci',
 55152: 'campbell scott',
 86293: 'robert m. young',
 27846: 'john herzfeld',
 71825: 'reb braddock',
 584483: 'rené gainville',
 1217874: 'john walsh',
 35155: 'john gray',
 27146: 'robert lieberman',
 83413: 'norman tokar',
 87459: 'norman foster',
 19032: 'john hough',
 5834: 'robert stevenson',
 29715: 'david swift',
 6592: 'duwayne dunham',
 30099: 'charles barton',
 35318: 'ken annakin',
 2087: 'richard fleischer',
 56506: 'william dear',
 64864: 'clyde geronimi',
 11434: 'wilfred jackson',

In [27]:
#Los valores nulos de los campos "revenue" y "budget" son rellenados con el número "0"
data['revenue'] = data['revenue'].fillna(0)
data['budget'] = data['budget'].fillna(0)
data['runtime'] = data['runtime'].fillna(0)

In [28]:
#Eliminamos los valores nulos del campo "release_date".
data = data.dropna(subset=['release_date'])

In [29]:

data.dropna(subset='title', inplace=True)
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_year'] = data['release_date'].dt.year
data['release_month'] = data['release_date'].dt.month

In [30]:
data['release_month']

0        10
1        12
2        12
3        12
4         2
         ..
45532     5
45534    11
45535     8
45536    10
45537     6
Name: release_month, Length: 45345, dtype: int64

In [31]:
data['release_year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45532    1991
45534    2011
45535    2003
45536    1917
45537    2017
Name: release_year, Length: 45345, dtype: int64

In [32]:
dia_español = {
        0: 'lunes',
        1: 'martes',
        2: 'miercoles',
        3: 'jueves',
        4: 'viernes',
        5: 'sabado',
        6: 'domingo'
    }

In [33]:
# Se crea columna de día
import calendar

data['release_day'] = data['release_date'].apply(lambda x: calendar.weekday(x.year, x.month, x.day))
data['release_day']

0        0
1        4
2        4
3        4
4        4
        ..
45532    0
45534    3
45535    4
45536    6
45537    4
Name: release_day, Length: 45345, dtype: int64

In [34]:
def numero_a_dia(num):
    return dia_español[num]

In [35]:
# Pasamos el release day a texto por practicidad de la API
data['release_day'] = data['release_day'].apply(numero_a_dia)
data['release_day']

0          lunes
1        viernes
2        viernes
3        viernes
4        viernes
          ...
45532      lunes
45534     jueves
45535    viernes
45536    domingo
45537    viernes
Name: release_day, Length: 45345, dtype: object

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45345 entries, 0 to 45537
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45345 non-null  object
 1   belongs_to_collection  45345 non-null  object
 2   budget                 45345 non-null  object
 3   genres                 45345 non-null  object
 4   homepage               7761 non-null   object
 5   id                     45345 non-null  object
 6   imdb_id                45331 non-null  object
 7   original_language      45334 non-null  object
 8   original_title         45345 non-null  object
 9   overview               44404 non-null  object
 10  popularity             45345 non-null  object
 11  poster_path            45006 non-null  object
 12  production_companies   45345 non-null  object
 13  production_countries   45345 non-null  object
 14  release_date           45345 non-null  datetime64[ns]
 15  revenue                45345 non-null  float64
 16  runtime                45345 non-null  float64
 17  spoken_languages       45345 non-null  object
 18  status                 45265 non-null  object
 19  tagline                20387 non-null  object
 20  title                  45345 non-null  object
 21  video                  45345 non-null  object
 22  vote_average           45345 non-null  float64
 23  vote_count             45345 non-null  float64
 24  cast                   45345 non-null  object
 25  crew                   45345 non-null  object
 26  company_name           33074 non-null  object
 27  id_company             33074 non-null  float64
 28  iso_3166_1             39133 non-null  object
 29  country_production     39133 non-null  object
 30  iso_spoken             45345 non-null  object
 31  language_spoken        45345 non-null  object
 32  id_genre               45345 non-null  object
 33  name_genre             45345 non-null  object
 34  id_actor               45345 non-null  object
 35  name_actor             45345 non-null  object
 36  id_directores          45345 non-null  object
 37  release_year           45345 non-null  int64
 38  release_month          45345 non-null  int64
 39  release_day            45345 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(32)
memory usage: 14.2+ MB

In [37]:
data["budget"] = data["budget"].astype(float)

In [38]:
#Columna return
data["return"] = data.apply(lambda row: row['revenue'] / row['budget'] if (row['revenue'] is not None and row['budget'] is not None and row['budget'] != 0) else 0, axis=1)

In [39]:
data["return"]

0        12.451801
1         4.043035
2         0.000000
3         5.090760
4         0.000000
           ...
45532     0.000000
45534     0.000000
45535     0.000000
45536     0.000000
45537     0.000000
Name: return, Length: 45345, dtype: float64

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45345 entries, 0 to 45537
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45345 non-null  object
 1   belongs_to_collection  45345 non-null  object
 2   budget                 45345 non-null  float64
 3   genres                 45345 non-null  object
 4   homepage               7761 non-null   object
 5   id                     45345 non-null  object
 6   imdb_id                45331 non-null  object
 7   original_language      45334 non-null  object
 8   original_title         45345 non-null  object
 9   overview               44404 non-null  object
 10  popularity             45345 non-null  object
 11  poster_path            45006 non-null  object
 12  production_companies   45345 non-null  object
 13  production_countries   45345 non-null  object
 14  release_date           45345 non-null  datetime64[ns]
 15  revenue                45345 non-null  float64
 16  runtime                45345 non-null  float64
 17  spoken_languages       45345 non-null  object
 18  status                 45265 non-null  object
 19  tagline                20387 non-null  object
 20  title                  45345 non-null  object
 21  video                  45345 non-null  object
 22  vote_average           45345 non-null  float64
 23  vote_count             45345 non-null  float64
 24  cast                   45345 non-null  object
 25  crew                   45345 non-null  object
 26  company_name           33074 non-null  object
 27  id_company             33074 non-null  float64
 28  iso_3166_1             39133 non-null  object
 29  country_production     39133 non-null  object
 30  iso_spoken             45345 non-null  object
 31  language_spoken        45345 non-null  object
 32  id_genre               45345 non-null  object
 33  name_genre             45345 non-null  object
 34  id_actor               45345 non-null  object
 35  name_actor             45345 non-null  object
 36  id_directores          45345 non-null  object
 37  release_year           45345 non-null  int64
 38  release_month          45345 non-null  int64
 39  release_day            45345 non-null  object
 40  return                 45345 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(31)
memory usage: 14.5+ MB

In [41]:
# Se eliminan las columnas solicitadas
data.drop(axis=1, columns=['adult', 'belongs_to_collection', 'genres', 'homepage',
                            'imdb_id', 'original_language', 'original_title', 'overview', 'poster_path', 'production_companies',
                            'production_countries', 'spoken_languages', 'status', 'tagline', 'video', 'cast', 'crew', 'company_name',
                            'id_company', 'iso_3166_1', 'country_production', 'iso_spoken',
                            'language_spoken', 'name_genre', 'name_actor'], inplace=True)

In [42]:
data.dropna(inplace=True)

In [43]:
# Se arreglan los últimos tipos de datos
data['id'] = data['id'].astype(int)
data['popularity'] = data['popularity'].astype(float)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45345 entries, 0 to 45537
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   budget         45345 non-null  float64
 1   id             45345 non-null  int32
 2   popularity     45345 non-null  float64
 3   release_date   45345 non-null  datetime64[ns]
 4   revenue        45345 non-null  float64
 5   runtime        45345 non-null  float64
 6   title          45345 non-null  object
 7   vote_average   45345 non-null  float64
 8   vote_count     45345 non-null  float64
 9   id_genre       45345 non-null  object
 10  id_actor       45345 non-null  object
 11  id_directores  45345 non-null  object
 12  release_year   45345 non-null  int64
 13  release_month  45345 non-null  int64
 14  release_day    45345 non-null  object
 15  return         45345 non-null  float64
dtypes: datetime64[ns](1), float64(7), int32(1), int64(2), object(5)
memory usage: 5.7+ MB

In [45]:
data.head()

,budget,id,popularity,release_date,revenue,runtime,title,vote_average,vote_count,id_genre,id_actor,id_directores,release_year,release_month,release_day,return
0,30000000.0,862,21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,"[16, 35, 10751]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...",[7879],1995,10,lunes,12.451801
1,65000000.0,8844,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,"[12, 14, 10751]","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...",[4945],1995,12,viernes,4.043035
2,0.0,15602,11.712900,1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0,"[10749, 35]","[6837, 3151, 13567, 16757, 589, 16523, 7166]",[26502],1995,12,viernes,0.000000
3,16000000.0,31357,3.859495,1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0,"[35, 18, 10749]","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...",[2178],1995,12,viernes,5.090760
4,0.0,11862,8.387519,1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,[35],"[67773, 3092, 519, 70696, 59222, 18793, 14592,...",[56106],1995,2,viernes,0.000000

In [46]:
# DataFrame de genres
genres_df = pd.DataFrame.from_dict(genres_dict, orient='index', columns=['genre'])
genres_df['id'] = genres_df.index
#Cambiar el nombre del dataframe
genres_df

                 genre     id
16           animation     16
35              comedy     35
10751           family  10751
12           adventure     12
14             fantasy     14
10749          romance  10749
18               drama     18
28              action     28
80               crime     80
53            thriller     53
27              horror     27
36             history     36
878    science fiction    878
9648           mystery   9648
10752              war  10752
10769          foreign  10769
10402            music  10402
99         documentary     99
37             western     37
10770         tv movie  10770

In [47]:
# DataFrame de genres
actores_df = pd.DataFrame.from_dict(characters_dict, orient='index', columns=['actor'])
actores_df['id'] = actores_df.index
#Cambiar el nombre del dataframe
actores_df

                     actor       id
31               tom hanks       31
12898            tim allen    12898
7167           don rickles     7167
12899           jim varney    12899
12900        wallace shawn    12900
...                    ...      ...
169498     jeremy lelliott   169498
1177500      jason widener  1177500
93930       kiko ellsworth    93930
1686379   darrell dubovsky  1686379
1261758  aleksandr chabrov  1261758

[206158 rows x 2 columns]

In [48]:
# DataFrame de genres
directores_df = pd.DataFrame.from_dict(directores_dict, orient='index', columns=['director'])
directores_df['id'] = directores_df.index
#Cambiar el nombre del dataframe
directores_df

                 director       id
7879        john lasseter     7879
4945         joe johnston     4945
26502       howard deutch    26502
2178      forest whitaker     2178
56106       charles shyer    56106
...                   ...      ...
1644440      ravi udyawar  1644440
1736944    shanra j. kehl  1736944
42634       aaron osborne    42634
1182809  hamid nematollah  1182809
1344495     daisy asquith  1344495

[19895 rows x 2 columns]

In [49]:
# Se exportan los datasets limpios
data.to_csv('data/movies.csv', index=False)
genres_df.to_csv('data/genres.csv', index=False)
actores_df.to_csv('data/actors.csv', index=False)
directores_df.to_csv('data/directors.csv', index=False)